.contact,
.map {
  margin-block: 10rem !important;
}

/* Button */
.contact__btn {
  width: 100%;
}

/* Contact Section */

/* Contact Form */
.contact__form {
  color: var(--white);
  box-shadow: var(--primary-shadow);
  border-radius: var(--border-radius);
  background-color: var(--background-2);
  font-size: var(--fs-form);
}

.contact__number {
  font-weight: var(--fw-bold);
  font-size: var(--fs-sub-heading);
}

.contact__number .green {
  color: var(--primary);
}

a {
  color: var(--description-dark);
}
a:hover {
  color: var(--primary);
}

/* Privacy Link */
.fa-envelope {
  font-size: var(--fs-paragraph);
}

#privacy {
  color: var(--description-dark);
}

.privacy {
  font-size: var(--fs-paragraph);
  color: var(--primary);
  text-decoration: underline;
}

/* Text Area */
#textarea,
.contact__form .form__group .form__text div input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: var(--border-input);
  box-shadow: var(--text-box-shadow);
}

#textarea {
  height: 40rem;
}

/* Contact Information */
.contact__information {
  text-align: center;
}

/* Map */

.map img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

/* Media Queries (Mobile-First) */

@media screen and (min-width: 768px) {
  .contact__information {
    text-align: initial;
  }
}

@media screen and (min-width: 992px) {
  .contact__btn {
    width: initial;
  }

  .contact__information {
    text-align: initial;
  }
}
