/* Common Styles */
.header-text,
.header-img,
.navbar,
.navbar__links ul li a,
.login,
.signup-btn,
.login-btn a,
.header-text p,
.navbar__btn .btn,
.ourteams__banner,
.popular__title {
  color: var(--white);
}

.featured__title,
.header-text,
.ourteams__details,
.featured__bottom,
.popular__title {
  text-align: center;
}

.navbar {
  background-color: var(--background);
}

.navbar__btn .btn {
  background-color: transparent;
  padding: 0.5rem 0.5rem;
}

/* Header Section */
.header {
  margin-bottom: 15rem;
}

.header-section {
  background: url(../assets/images/bg/bg-hero.png) center no-repeat,
    var(--background);
  background-size: cover;
}

.header-text h1 {
  font-size: var(--fs-subheading);
}

.header-img {
  position: relative;
  margin-top: -100px;
  text-align: center;
  bottom: -130px;
  left: 0;
}

/* Featured Cars */

.featured__card {
  background-color: var(--white);
  box-shadow: var(--shadow-card);
  border-radius: var(--border-radius);
}
.featured__card img {
  border-radius: var(--border-img);
}

.card--title h4 {
  font-size: 28px;
}

.featured__types {
  flex-wrap: wrap;
  column-gap: 1.75rem;
  row-gap: 0.5rem;
}
.featured__types div img {
  height: 25px;
}
.featured__price div p:nth-child(1),
.card--title div,
.featured__types div {
  font-size: 18px;
}

.card--title div i {
  cursor: pointer;
}

.favourite-checked {
  color: var(--favourite-checked);
}

.featured__price div p:nth-child(2) {
  font-size: 24px;
}
.featured__price div p:nth-child(2) span {
  color: var(--primary);
  font-weight: 600;
  font-size: 32px;
}

/* .featured__social p {
} */

/* Popular Cars */

.popular {
  background-color: var(--background);
}

/* Our Teams */

.ourteams {
  margin-top: 15rem;
  position: relative;
  background-color: var(--background);
}
.ourteams__bg {
  z-index: -99;
}

.ourteams__banner {
  position: relative;
  top: -150px;
  background: url(../assets/images/bg/background-team\ 1.png) no-repeat center;
  background-size: cover;
  border: 3px solid var(--primary);
  border-radius: 1rem;
}

.fa-circle {
  color: var(--primary);
  font-size: 10px;
}

.rounded {
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1/1;
}

.rounded-btn {
  color: var(--primary);
  background-color: var(--white);
}

.rounded-btn:hover {
  box-shadow: 0 0 30px 1px var(--white);
  cursor: pointer;
  transition: all 0.2s;
}

.ourteams__card {
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--border-radius);
  width: 270px;
}
.card__img img {
  border-radius: 0.5rem 0.5rem 0 0;
}

/* swipper Library */

.swiper {
  width: 100%;
  height: 100%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .header-img img {
    bottom: -130px;
  }

  h1 {
    font-size: var(--fs-title);
  }
  .ourteams__details,
  .featured__title {
    text-align: start;
  }
}

@media screen and (min-width: 992px) {
  .header-text,
  popular__title {
    text-align: start;
  }
}
