@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Colors */
  --footer: #151515;
  --black: #000;
  --white: #fff;
  --background: #0f141e;
  --favourite-unchecked: rgb(212, 208, 209);
  --favourite-checked: crimson;
  --heading: #3b3c3f;
  --description: #ffffff;
  --description-dark: #313131;
  --primary: #19ad11;
  --secondary-hover: #fdb801;
  --background-2: #ecebeb;

  /* Font Family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  /* Font Sizes */
  --fs-paragraph: 1rem;
  --fs-links: 1.125rem;
  --fs-heading: 2rem;
  --fs-subheading: 3rem;
  --fs-title: 4.5rem;
  --fs-subsubheading: 1.25rem;

  /* Font Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* Borders */
  --border-radius: 0.5rem;
  --border-img: 0.5rem 0.5rem 0 0;

  /* Shadows */
  --shadow-card: rgba(0, 0, 0, 0.24) 4px 4px 10px;
  --btn-shadow: rgba(0, 0, 0, 0.24) 4px 4px 10px;
  --text-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --primary-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px;
}

/* Basic Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
}

h1 {
  font-size: var(--fs-title);
  font-weight: var(--fw-extra-bold);
  font-family: var(--font-secondary);
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-subheading);
  font-family: var(--font-secondary);
}

h3 {
  font-size: var(--fs-heading);
}

h4 {
  font-size: var(--fs-subsubheading);
}

p {
  font-weight: var(--fw-medium);
}

.dark {
  color: var(--description-dark);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Button Common */

.btn {
  font-size: var(--fs-links);
  font-weight: var(--fw-medium);
  outline: none;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
}

.btn-secondary {
  color: var(--white);
  background-color: var(--primary);
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  color: var(--black);
  /* background-color: var(--primary); */
}

/* Navbar and Off-canvas Styles */

/* Primary Button */

.canvas-btn .btn {
  background-color: var(--primary);
  color: var(--white);
  margin-top: 6rem;
}

/* Secondary Button */

.navbar__btn .btn {
  color: var(--black);
  background-color: transparent;
}

.navbar__btn .btn:hover {
  color: var(--white);
  background-color: var(--primary);
  transition: 0.2s;
}

.navbar__btn .btn:active {
  background-color: var(--primary);
}

/* Navbar Links */

.navbar__links ul li a {
  color: var(--white);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-links);
}

.navbar__links ul li a:hover {
  color: var(--primary);
  transition: 0.2s;
}

.navbar__links ul li a.active {
  position: relative;
  color: var(--primary);
}

.navbar__links ul li a.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  border-radius: 50%;
  display: none;
}

/* Signup and Login Buttons */

.login {
  border-right: solid 1px var(--primary);
}

.signup-btn,
.login-btn a {
  font-size: var(--fs-paragraph);
  color: var(--black);
}

.login:hover,
.signup-btn:hover,
.login-btn a:hover {
  color: var(--primary);
  transition: 0.2s;
}

/*  Icons */

.fa-user {
  color: var(--primary);
  font-size: 25px;
}

.fa-plus {
  font-size: var(--fs-paragraph);
  margin-right: 0.25rem;
}

/* Menu Button */

.navbar__menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  outline: none;
  width: 50px;
  z-index: 99;
}

/* Menu Lines */

.line,
.line1,
.line2,
.line3 {
  fill: none;
  stroke: var(--primary);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1,
.line2,
.line3 {
  stroke-width: 6;
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

/* Opened Menu Lines */

.opened .line1,
.opened .line2,
.opened .line3 {
  stroke-width: 6;
  stroke-dashoffset: -134;
}

.opened .line1 {
  stroke-dasharray: 90 207;
}

.opened .line2 {
  stroke-dasharray: 1 60;
}

.opened .line3 {
  stroke-dasharray: 90 207;
}

/* Navbar Styles */

.navbar {
  background-color: var(--white);
  box-shadow: var(--primary-shadow);
}

/* Logo Styles */

.navbar__logo a img {
  height: 45px;
}

/* Off-canvas Menu Styles */

.navbar__offcanvas {
  background-color: #000000e7;
  color: var(--white);
  text-align: start;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  transform: translateX(-300px);
  transition: transform 0.3s;
  width: 300px;
  z-index: 2;
}

.no-scroll {
  overflow: hidden;
}

.offcanvas-login-btn,
.offcanvas-signup-btn {
  color: var(--white) !important;
  font-weight: var(--fw-medium);
  font-size: 1rem;
}

.offcanvas-login-btn:hover,
.offcanvas-signup-btn:hover {
  color: var(--primary);
  transition: 0.2s;
}

.offcanvas-btns {
  margin-top: 5rem;
}

/* Hide the scrollbar for webkit browsers (Chrome, Safari) */
.navbar__offcanvas::-webkit-scrollbar {
  width: 0.2rem;
}

/* Hide the scrollbar thumb for webkit browsers */
.navbar__offcanvas::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar track for webkit browsers */
.navbar__offcanvas::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide the scrollbar for Firefox */
.navbar__offcanvas {
  scrollbar-width: none;
}

/* Hide the scrollbar for Internet Explorer and Edge */
.navbar__offcanvas {
  -ms-overflow-style: none;
}

/* Headline Section */

.headline {
  background-color: var(--black);
  color: var(--primary);
  overflow-x: hidden;
}

.marquee-text {
  font-size: 1.5rem;
  margin-inline: 2.5rem;
  text-transform: uppercase;
}

/* Footer */

.footer {
  background-color: var(--footer);
  color: var(--white);
  text-align: center;
  padding-top: 5rem;
}

.footer__top {
  margin-bottom: 5rem;
}

.footer__about {
  padding-right: 2rem;
}
.footer__contact__info div i,
.footer__icon {
  color: var(--primary);
}

.footer__contact__info span:nth-child(2) a,
.footer__about p,
.footer__links__list li a {
  color: var(--description);
}

.footer__bottom div p:hover,
.footer__contact__info span:nth-child(2):hover,
.footer__contact__info span:nth-child(2) a:hover,
.footer__links__list li a:hover {
  cursor: pointer;
  color: var(--primary);
  transition: 0.2s;
}

.contact__icons div,
.footer__social__icons div {
  color: var(--primary);
  background-color: var(--white);
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 1.25rem;
}

.contact__icons div:hover,
.footer__social__icons div:hover {
  color: var(--white);
  background-color: var(--primary);
  transition: 0.2s;
  cursor: pointer;
}

/* Media Queries (Mobile-First) */

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .footer__contact,
  .footer__about,
  .footer__links,
  .footer__social {
    text-align: start;
  }
}

@media screen and (min-width: 992px) {
  .navbar__logo a img {
    margin-right: 2rem;
  }

  .navbar__links ul li a.active::after {
    display: block;
  }

  .navbar__links ul li a {
    margin-right: 1.5rem;
    color: var(--black);
  }

  .navbar__links {
    font-size: var(--fs-links);
  }

  .fa-user {
    font-size: initial;
  }

  .marquee-text {
    font-size: 2rem;
    margin-inline: 5rem;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
