/* About Section */
.ourteams__details,
.news__titles,
.news__top,
.about__info {
  text-align: center;
}
.about__info p {
  color: var(--description-dark);
}

.about__img img {
  border-radius: var(--border-radius);
}

/* Stats Section */

.stats__number__main {
  font-size: 120px;
  font-weight: var(--fw-extra-bold);
}

.stats__text__main {
  font-size: var(--fs-subheading);
}

.stats__number__sub {
  font-size: var(--fs-title);
}
.stats__text__main,
.stats__number__sub,
.stats__text__sub {
  font-weight: var(--fw-bold);
}

.stats__text__sub,
.stats__number__main {
  color: var(--primary);
}

.stats__text__sub {
  font-family: var(--font-secondary);
}

/* Events Section */

.cards {
  position: relative;
}

.card__date {
  position: absolute;
  top: 10px;
  left: 30px;
  background-color: var(--primary);
  color: var(--white);
  width: 50px;
  font-weight: var(--fw-bold);
}
.card__day {
  font-size: 32px;
}

.cards img {
  width: 100%;
  z-index: -1;
  border-radius: var(--border-radius);
}

.card__text {
  position: relative;
  background-color: var(--white);
  top: -40px;
  left: 10%;
  box-shadow: var(--btn-shadow);
  border-radius: var(--border-radius);
  z-index: 1;
}

.card__btn {
  padding: 0.5rem 0.5rem;
  width: 125px;
}

.img-special {
  object-fit: cover;
  object-position: center;
  height: 250px;
  border-radius: 1rem;
}

/* Faq Acoordian */

.faq h2 {
  text-align: center;
}

#accordion-button-1,
#accordion-button-2,
#accordion-button-3,
#accordion-button-4,
#accordion-button-5,
#accordion-button-6 {
  border-bottom: 1px solid var(--primary);
}

.accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--primary);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--description-dark);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--primary);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  color: var(--primary);
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: var(--primary);
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/* Out Teams Section  */

.ourteams {
  margin-top: 15rem;
  position: relative;
  background-color: #0f141e;
}
.ourteams__bg {
  z-index: -99;
}

.ourteams__banner {
  position: relative;
  top: -150px;
  background: url(../images/bg/background-team\ 1.png) center, #5ed817;
  background-size: 100%;
  color: var(--white);

  border-radius: 1rem;
}

.fa-circle {
  color: var(--primary);
  font-size: 10px;
}

.rounded {
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1/1;
}

.rounded-btn {
  color: var(--primary);
  background-color: var(--white);
}

.rounded-btn:hover {
  box-shadow: 0 0 30px 1px var(--white);
  cursor: pointer;
  transition: all 0.2s;
}

.ourteams__card {
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--border-radius);
  max-width: 250px;
}
.card__img img {
  border-radius: 0.5rem 0.5rem 0 0;
}

/* swipper Library */

.swiper {
  width: 100%;
  height: 100%;
}

/* Media Queries */

@media screen and (min-width: 992px) {
  .ourteams__details,
  .news__titles,
  .about__info {
    text-align: start;
  }
  .card__text {
    left: 12%;
  }
}

@media screen and (min-width: 1200px) {
}
